<div class="to-card__wrap">
  <div class="to-card__content">
    <button class="to-card__close-btn">
      <svg width="15" height="15">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <h6 class="to-card__content-title">Товар додано до кошика!</h6>
    <div class="to-card__added-goods">
      <img
        class="to-card__added-goods-img"
        src="https://placehold.co/100x95"
        alt=""
      />
      <div class="to-card__added-goods-text">
        <p class="to-card__added-goods-title">Комплект шовкових подушок</p>
        <p>Жовтий / Середній</p>
        <p>Кількість: 5 шт.</p>
      </div>
    </div>
    <div class="to-card__nav">
      <a class="to-card__nav-link" href="#">Купити</a>
      <a class="to-card__nav-link" href="#">Кошик</a>
    </div>
  </div>
</div>
