<div class="to-cart__wrap animate__animated visually-hidden js-to-cart-modal">
  <div class="to-cart__content">
    <button class="to-cart__close-btn js-to-cart-close-btn">
      <svg width="15" height="15">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <h6 class="to-cart__content-title">Товар додано до кошика!</h6>
    <div class="to-cart__added-goods">
      <img
        class="to-cart__added-goods-img"
        src="https://placehold.co/100x95"
        alt=""
      />
      <div class="to-cart__added-goods-text">
        <p class="to-cart__added-goods-title">Комплект шовкових подушок</p>
        <p>Жовтий / Середній</p>
        <p>Кількість: 5 шт.</p>
      </div>
    </div>
    <div class="to-cart__nav">
      <a class="to-cart__nav-link" href="./ordering.html">Купити</a>
      <a class="to-cart__nav-link" href="./cart.html">Кошик</a>
    </div>
  </div>
</div>
