<section class="best-seller">
  <div class="best-seller-wrap container">
    <img
      class="best-seller__img"
      src="./images/best-seller-sample.png"
      alt="best seller sample"
      width="610"
      height="370"
    />
    <div class="best-seller__about">
      <div class="best-seller-main">
        <h3 class="best-seller-section__title">Бестселлер сезону</h3>
        <h4 class="best-seller__title">Подушка Blue Sky</h4>
        <span class="best-seller__price">Від 440 грн</span>
      </div>
      <div class="best-seller__raiting">
        <div class="best-seller__raiting-stars">
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
        </div>
        <a href="#">25</a>
      </div>
      <p class="best-seller__desc">
        Дихаюча подушка забезпечить гарний відпочинок і приємний сон. Завдяки
        властивостям матеріалу чохла повітря добре проникає всередину подушки
        для ефективного повітрообміну. <br />
        <br />
        Також, матеріали подушки не створюють парникового ефекту, не дозволяючи
        волозі проникати всередину волокна.
      </p>
      <button class="best-seller__btn" type="button">Переглянути товар</button>
    </div>
  </div>
</section>
