<div class="container">
  <div class="cart-title__wrap">
    <h1 class="cart-title">Кошик</h1>
    <a class="cart-title__link" href=".">Продовжити покупки</a>
  </div>
  <div class="cart__content">
    <div class="cart__content-left">
      <include src="./partials/cart-item.html"></include>
      <include src="./partials/cart-item.html"></include>
      <include src="./partials/cart-item.html"></include>
      <include src="./partials/cart-item.html"></include>
    </div>
    <div class="cart__content-right">
      <div class="cart__total-wrap">
        <div class="cart__total">
          <p class="cart__total-item">Кількість товарів: <span>**</span></p>
          <p class="cart__total-item">Загальна сума: <span>****</span></p>
        </div>
        <div class="cart__total-buy-wrap">
          <a class="cart__total-buy-link" href="#">Оформити замовлення</a>
        </div>
      </div>
    </div>
  </div>
</div>
