<div class="container">
  <div class="category-page__text">
    <h1 class="category-page__title">Постільна білизна</h1>
    <p class="category-page__desc">
      Зробіть свій сон комфортнішим та здоровішим за допомогою нашої постільної
      білизни з високоякісних матеріалів
    </p>
  </div>
  <div class="category-page__filter-wrap">
    <div class="category-page__filter">
      <h2 class="category-page__filter-title">Фільтр:</h2>
      <ul class="category-page__filter-list">
        <li class="category-page__filter-item">
          <button class="category-page__filter-btn" type="button">Колір</button>
          <div class="category-page__filter-drop visually-hidden">
            <a href="#">Колір 1</a>
            <a href="#">Колір 2</a>
            <a href="#">Колір 3</a>
          </div>
        </li>
        <li class="category-page__filter-item">
          <button class="category-page__filter-btn" type="button">
            Розмір
          </button>
          <div class="category-page__filter-drop visually-hidden">
            <a href="#">Розмір 1</a>
            <a href="#">Розмір 2</a>
            <a href="#">Розмір 3</a>
          </div>
        </li>
        <li class="category-page__filter-item">
          <button class="category-page__filter-btn" type="button">
            Матеріал
          </button>
          <div class="category-page__filter-drop visually-hidden">
            <a href="#">Матеріал 1</a>
            <a href="#">Матеріал 2</a>
            <a href="#">Матеріал 3</a>
          </div>
        </li>
        <li class="category-page__filter-item">
          <button class="category-page__filter-btn" type="button">Ціна</button>
          <div class="category-page__filter-drop visually-hidden">
            <a href="#">Ціна 1</a>
            <a href="#">Ціна 2</a>
            <a href="#">Ціна 3</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="category-page__sort">
      <h2 class="category-page__filter-title">Сортувати:</h2>
      <select name="sort" id="sort">
        <option value="-">-</option>
        <option value="Від найдешевшого">Від найдешевшого</option>
        <option value="Від найдорожчого">Від найдорожчого</option>
        <option value="Від старих до нових">Від старих до нових</option>
        <option value="Від нових до старих">Від нових до старих</option>
      </select>
    </div>
  </div>
  <ul class="goods-list">
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
    <include src="./partials/item-card.html"></include>
  </ul>
  <include src="./partials/modal.html"></include>
</div>
