<section class="categories">
  <div class="categories-wrap container swiper-container">
    <h2 class="categories__title">Обирай за категоріями</h2>

    <div class="single-category__navigation" style="display: none">
      <div class="swiper-button-next">
        <svg
          class="single-category__navigation-icon-next"
          width="30"
          height="30"
        >
          <use href="./images/icons.svg#arrowR-s"></use>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg
          class="single-category__navigation-icon-prev"
          width="30"
          height="30"
        >
          <use href="./images/icons.svg#arrowL-s"></use>
        </svg>
      </div>
    </div>

    <ul class="categories__list swiper-wrapper">
      <include src="./partials/category-card.html"></include>
      <include src="./partials/category-card.html"></include>
      <include src="./partials/category-card.html"></include>
      <include src="./partials/category-card.html"></include>
    </ul>
  </div>
</section>
