<footer>
  <div class="footer-wrap">
    <div class="container">
      <div class="footer__socials">
        <div class="footer__logo-wrap">
          <a href=".">
            <svg class="footer__logo" width="188" height="50">
              <use href="./images/icons.svg#logo-footer"></use>
            </svg>
          </a>
        </div>
        <div class="footer__socials_links">
          <a href="#"
            ><svg width="22" height="22">
              <use href="./images/icons.svg#insta"></use></svg
          ></a>
          <a href="#"
            ><svg width="22" height="20">
              <use href="./images/icons.svg#tg"></use></svg
          ></a>
          <a href="#"
            ><svg width="23" height="23">
              <use href="./images/icons.svg#viber"></use></svg
          ></a>
        </div>
      </div>
      <div class="footer__catalog">
        <h3 class="footer__catalog-title">Каталог</h3>
        <ul class="footer__catalog-list">
          <li><a href="#">Постільна білизна</a></li>
          <li><a href="#">Пледи</a></li>
          <li><a href="#">Рушники</a></li>
          <li><a href="#">Покривала</a></li>
          <li><a href="#">Акційні товари</a></li>
        </ul>
      </div>
      <div class="footer__info">
        <h3 class="footer__info-title">Інформація</h3>
        <ul class="footer__info-list">
          <li><a href="#">Про нас</a></li>
          <li><a href="#">Популярні питання</a></li>
          <li><a href="#">Доставка та оплата</a></li>
          <li><a href="#">Обмін та поверення</a></li>
          <li><a href="#">Тканини</a></li>
        </ul>
      </div>
      <div class="footer__contacts">
        <div class="footer__contacts-phone">
          <svg class="footer__contacts-icon" width="15" heigth="15">
            <use href="./images/icons.svg#phone"></use>
          </svg>
          <ul>
            <li><a href="tel:+380983363028">(098) 33-63-028</a></li>
            <li><a href="tel:+380983363028">(098) 33-63-028</a></li>
          </ul>
        </div>
        <div class="footer__contacts-mail">
          <svg class="footer__contacts-icon" width="15" heigth="10">
            <use href="./images/icons.svg#mail"></use>
          </svg>
          <a
            href="mailto:rendez-vous-elite@ukr.net
"
            >rendez-vous-elite@ukr.net
          </a>
        </div>
        <div class="footer__contacts-location">
          <svg class="footer__contacts-icon" width="15" heigth="10">
            <use href="./images/icons.svg#location"></use>
          </svg>
          <div class="footer__contacts-location-text">
            <p>м. Умань, Черкаська обл.</p>
            <p>пн.-нд. 9.00-19.00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <p>©2023 Усі права захищено</p>
    </div>
  </div>
</footer>
