<header>
  <div class="container header__container">
    <button class="mobile-menu-btn" type="button">
      <svg class="mobile-menu-icon" width="25" height="20">
        <use href="./images/icons.svg#mobile-menu"></use>
      </svg>
    </button>
    <nav>
      <ul class="navigation__list">
        <li class="navigation__item">
          <button class="navigation__item-button">Каталог</button>
          <div class="navigation__dropdown-wrap">
            <ul class="navigation__dropdown">
              <li class="navigation__dropdown-item">
                <a href="#">Постільна білизна</a>
              </li>
              <li class="navigation__dropdown-item"><a href="#">Пледи</a></li>
              <li class="navigation__dropdown-item"><a href="#">Рушники</a></li>
              <li class="navigation__dropdown-item">
                <a href="#">Покривала</a>
              </li>
              <li class="navigation__dropdown-item">
                <a href="#">Акційні товари</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="navigation__item">
          <button class="navigation__item-button">Інформація</button>
          <div class="navigation__dropdown-wrap">
            <ul class="navigation__dropdown">
              <li class="navigation__dropdown-item">
                <a href="./faq.html">Популярні питання</a>
              </li>
              <li class="navigation__dropdown-item">
                <a href="#">Контакти</a>
              </li>
              <li class="navigation__dropdown-item"><a href="#">Про нас</a></li>
              <li class="navigation__dropdown-item">
                <a href="./fabrics.html">Тканини</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <div class="logo-wrap">
      <a href=".">
        <svg class="header__logo" width="188" height="50">
          <use href="./images/icons.svg#logo"></use>
        </svg>
      </a>
    </div>

    <div class="header__controls">
      <ul class="header__controls-list">
        <li class="header__controls-item search">
          <button class="js-search-btn">
            <svg class="header__controls-item-icon" width="24" height="24">
              <use href="./images/icons.svg#search"></use>
            </svg>
          </button>
          <form
            class="search__form js-search-form animate__animated animate__faster visually-hidden"
          >
            <button class="search__submit-btn" type="submit">
              <svg width="24" height="24">
                <use href="./images/icons.svg#search"></use>
              </svg>
            </button>
            <input
              class="search__form-input"
              type="search"
              placeholder="Пошук по сайту"
              aria-label="Пошук по сайту"
            />
          </form>
        </li>
        <li class="header__controls-item cart">
          <a class="cart-link" href="./cart.html">
            <svg class="header__controls-item-icon" width="24" height="70">
              <use href="./images/icons.svg#cart"></use>
            </svg>
          </a>
        </li>
        <li class="header__controls-item user">
          <button>
            <svg class="header__controls-item-icon" width="24" height="24">
              <use href="./images/icons.svg#user"></use>
            </svg>
          </button>
          <div class="user-menu navigation__dropdown-wrap">
            <ul class="navigation__dropdown">
              <li class="navigation__dropdown-item">
                <a href="#">Вхід</a>
              </li>
              <li class="navigation__dropdown-item">
                <a href="#">Реєстрація</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<include src="./partials/backdrop.html"></include>
<include src="./partials/mobile-menu.html"></include>
<include src="./partials/added-to-cart.html"></include>
