<section class="insta">
  <div class="container">
    <div class="insta__text">
      <div class="insta__text-wrap">
        <p class="insta__link-text">Долучайтесь до нас у інстаграмі</p>
        <a class="insta__link" href="#">@na_dobranich_ua</a>
      </div>
    </div>
    <div class="insta__gallery">
      <ul class="insta__gallery-list">
        <li class="insta__gallery-item"></li>
        <li class="insta__gallery-item"></li>
        <li class="insta__gallery-item"></li>
        <li class="insta__gallery-item"></li>
        <li class="insta__gallery-item"></li>
        <li class="insta__gallery-item"></li>
      </ul>
    </div>
  </div>
</section>
