<div class="item__container container">
  <div class="item__content">
    <div class="item__body">
      <div class="item__body-left">
        <div class="item__images">
          <div class="item__images-main"></div>
          <ul class="item__images-list">
            <li class="item__images-item"></li>
            <li class="item__images-item"></li>
            <li class="item__images-item"></li>
            <li class="item__images-item"></li>
          </ul>
        </div>
      </div>
      <div class="item__body-right">
        <div class="item__body-desc">
          <div class="item__body-header">
            <h5 class="item__body-title">Комплект шовкових подушок</h5>
            <p class="item__body-composition">2 подушки + 2 наволочки</p>
          </div>
          <div class="item__body-price-wrap">
            <p class="item__body-price">650 грн</p>
          </div>
          <div class="item__body-raiting">
            <div class="item__body-raiting-stars">
              <svg width="30" height="30">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg width="30" height="30">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg width="30" height="30">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg width="30" height="30">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg width="30" height="30">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </div>
            <a href="#">25</a>
          </div>
          <div class="item__body-color-wrap">
            <p class="item__body-color">
              Колір: <span class="item__body-item-color">###</span>
            </p>
            <div class="item__body-color-picker">
              <a class="item__body-color-item" href="#"></a>
              <a class="item__body-color-item active" href="#"></a>
              <a class="item__body-color-item" href="#"></a>
              <a class="item__body-color-item" href="#"></a>
            </div>
          </div>
          <div class="item__body-size-wrap">
            <p class="item__body-size">
              Розмір: <span class="item__body-item-size">###</span>
            </p>
            <div class="item__body-size-picker">
              <button class="item__body-size-btn" type="button">Євро</button>
              <button class="item__body-size-btn" type="button">
                Двоспальний
              </button>
              <button class="item__body-size-btn" type="button">
                Полуторний
              </button>
            </div>
            <div class="item__body-size-info-wrap">
              <div class="faq__items-wrap">
                <div class="faq__item">
                  <div class="faq__question">
                    <h2 class="faq__question-title">Розміри</h2>
                    <div class="faq__question-icon">
                      <svg width="13" height="8">
                        <use href="./images/icons.svg#faq-arrow"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="faq__answer">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Aperiam, animi voluptatibus expedita commodi, rerum, quod
                      ratione voluptate quos fugit veritatis necessitatibus sit
                      consequatur atque culpa magnam dolores reiciendis
                      doloribus molestias. Consequatur non nihil omnis esse iste
                      ut quod provident quidem? Neque tenetur aut culpa vitae
                      totam non aliquam officia aliquid labore et, error nam
                      facere numquam quos ex unde nobis. Adipisci mollitia
                      itaque obcaecati id expedita sit quibusdam consequuntur
                      perspiciatis, nam laboriosam accusantium porro accusamus
                      ullam repellendus eveniet laudantium aperiam veniam unde
                      libero! Quis eveniet quos corrupti vel, recusandae odit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item__body-to-cart-wrap">
            <div class="item__body-select-wrap">
              <select class="item__body-select" name="qty" id="qty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <button type="button" class="item__body-to-cart-btn">
              Додати до кошика
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item__faq-wrap">
      <div class="faq__items-wrap">
        <div class="faq__item">
          <div class="faq__question">
            <h2 class="faq__question-title">Детальніше</h2>
            <div class="faq__question-icon">
              <svg width="13" height="8">
                <use href="./images/icons.svg#faq-arrow"></use>
              </svg>
            </div>
          </div>
          <div class="faq__answer">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
              animi voluptatibus expedita commodi, rerum, quod ratione voluptate
              quos fugit veritatis necessitatibus sit consequatur atque culpa
              magnam dolores reiciendis doloribus molestias. Consequatur non
              nihil omnis esse iste ut quod provident quidem? Neque tenetur aut
              culpa vitae totam non aliquam officia aliquid labore et, error nam
              facere numquam quos ex unde nobis. Adipisci mollitia itaque
              obcaecati id expedita sit quibusdam consequuntur perspiciatis, nam
              laboriosam accusantium porro accusamus ullam repellendus eveniet
              laudantium aperiam veniam unde libero! Quis eveniet quos corrupti
              vel, recusandae odit.
            </p>
          </div>
        </div>
        <div class="faq__item">
          <div class="faq__question">
            <h2 class="faq__question-title">Доставка + Оплата</h2>
            <div class="faq__question-icon">
              <svg width="13" height="8">
                <use href="./images/icons.svg#faq-arrow"></use>
              </svg>
            </div>
          </div>
          <div class="faq__answer">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
              animi voluptatibus expedita commodi, rerum, quod ratione voluptate
              quos fugit veritatis necessitatibus sit consequatur atque culpa
              magnam dolores reiciendis doloribus molestias. Consequatur non
              nihil omnis esse iste ut quod provident quidem? Neque tenetur aut
              culpa vitae totam non aliquam officia aliquid labore et, error nam
              facere numquam quos ex unde nobis. Adipisci mollitia itaque
              obcaecati id expedita sit quibusdam consequuntur perspiciatis, nam
              laboriosam accusantium porro accusamus ullam repellendus eveniet
              laudantium aperiam veniam unde libero! Quis eveniet quos corrupti
              vel, recusandae odit.
            </p>
          </div>
        </div>
        <div class="faq__item">
          <div class="faq__question">
            <h2 class="faq__question-title">Склад та догляд</h2>
            <div class="faq__question-icon">
              <svg width="13" height="8">
                <use href="./images/icons.svg#faq-arrow"></use>
              </svg>
            </div>
          </div>
          <div class="faq__answer">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
              animi voluptatibus expedita commodi, rerum, quod ratione voluptate
              quos fugit veritatis necessitatibus sit consequatur atque culpa
              magnam dolores reiciendis doloribus molestias. Consequatur non
              nihil omnis esse iste ut quod provident quidem? Neque tenetur aut
              culpa vitae totam non aliquam officia aliquid labore et, error nam
              facere numquam quos ex unde nobis. Adipisci mollitia itaque
              obcaecati id expedita sit quibusdam consequuntur perspiciatis, nam
              laboriosam accusantium porro accusamus ullam repellendus eveniet
              laudantium aperiam veniam unde libero! Quis eveniet quos corrupti
              vel, recusandae odit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
