<li class="single-category__item">
  <div class="single-category__item-link">
    <div class="single-category__item-overlay js-quick-view">
      <p class="single-category__item-overlay-text">Швидкий перегляд</p>
    </div>
    <div class="single-category__item-about">
      <a href="./item.html">
        <img
          class="single-category__item-img"
          src="./images/item-sample.png"
          alt="item sample"
        />
      </a>
      <h4 class="single-category__item-title">Ковдра Soft Grid</h4>
      <p class="single-category__item-desc">Зроблена з преміальної бавовни</p>
      <span class="single-category__item-price">Від 1600 грн</span>
    </div>
  </div>
  <div class="modal__body-color-picker">
    <a class="modal__body-color-item" href="#"></a>
    <a class="modal__body-color-item active" href="#"></a>
    <a class="modal__body-color-item" href="#"></a>
    <a class="modal__body-color-item" href="#"></a>
  </div>
</li>
