<div class="modal-backdrop visually-hidden animate__animated animate__faster">
  <div class="modal">
    <div class="modal__dialog">
      <div class="modal__content">
        <button class="modal__dialog-close" type="button">
          <svg class="modal__dialog-close-icon" width="15" height="15">
            <use href="./images/icons.svg#close"></use>
          </svg>
        </button>
        <div class="modal__body">
          <div class="modal__images">
            <div class="modal__images-main"></div>
            <ul class="modal__images-list">
              <li class="modal__images-item"></li>
              <li class="modal__images-item"></li>
              <li class="modal__images-item"></li>
              <li class="modal__images-item"></li>
            </ul>
          </div>
          <div class="modal__body-desc">
            <div class="modal__body-header">
              <h5 class="modal__body-title">Комплект шовкових подушок</h5>
              <p class="modal__body-composition">2 подушки + 2 наволочки</p>
            </div>
            <div class="modal__body-price-wrap">
              <p class="modal__body-price">650 грн</p>
            </div>
            <div class="modal__body-raiting">
              <div class="modal__body-raiting-stars">
                <svg width="30" height="30">
                  <use href="./images/icons.svg#star"></use>
                </svg>
                <svg width="30" height="30">
                  <use href="./images/icons.svg#star"></use>
                </svg>
                <svg width="30" height="30">
                  <use href="./images/icons.svg#star"></use>
                </svg>
                <svg width="30" height="30">
                  <use href="./images/icons.svg#star"></use>
                </svg>
                <svg width="30" height="30">
                  <use href="./images/icons.svg#star"></use>
                </svg>
              </div>
              <a href="#">25</a>
            </div>
            <div class="modal__body-color-wrap">
              <p class="modal__body-color">
                Колір: <span class="modal__body-item-color">###</span>
              </p>
              <div class="modal__body-color-picker">
                <a class="modal__body-color-item" href="#"></a>
                <a class="modal__body-color-item active" href="#"></a>
                <a class="modal__body-color-item" href="#"></a>
                <a class="modal__body-color-item" href="#"></a>
              </div>
            </div>
            <div class="modal__body-size-wrap">
              <div>
                <p class="modal__body-size">
                  Розмір: <span class="modal__body-item-size">###</span>
                </p>
                <div class="modal__body-size-picker">
                  <button class="modal__body-size-btn" type="button">
                    Євро
                  </button>
                  <button class="modal__body-size-btn" type="button">
                    Двоспальний
                  </button>
                  <button class="modal__body-size-btn" type="button">
                    Полуторний
                  </button>
                </div>
                <button class="modal__body-size-info">Розмірна сітка</button>
                <div class="modal__body-size-info-wrap">
                  <p class="modal__body-size-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque, facere magni sed eius repudiandae ipsa quasi nemo
                    pariatur hic harum aperiam laboriosam voluptas rem beatae
                    doloremque perferendis necessitatibus itaque aliquid. Lorem,
                    ipsum dolor sit amet consectetur adipisicing elit. Officia
                    voluptatum quam ipsa, dolor soluta suscipit dolorum eligendi
                    repudiandae voluptate voluptatem ipsum perferendis quibusdam
                    error quisquam! Optio asperiores possimus voluptas
                    consequuntur.
                  </p>
                </div>
              </div>
            </div>
            <div class="modal__body-actions-wrap">
              <button
                class="modal__body-actions-add js-add-to-cart"
                type="button"
              >
                Додати до кошика
              </button>
              <a class="modal__body-actions-item-page" href="./item.html"
                >На сторінку товару</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
