<div class="ordering__item">
  <img class="ordering__item-img" src="#" alt="" />
  <div class="ordering__item-details">
    <h2 class="ordering__item-title">Комплект шовкових подушок</h2>
    <p class="ordering__item-color-size">Колір/Розмір</p>
    <div class="ordering__item-select-wrap">
      <select class="item__body-select" name="qty" id="qty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <p class="ordering__item-price">*** грн</p>
  </div>
</div>
