<div class="reviews__wrap">
  <div class="reviews container">
    <div class="reviews__top">
      <div>
        <p class="reviews__title">Відгуки</p>
        <span class="reviews__raiting"
          ><svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use>
          </svg>
          <svg width="30" height="30">
            <use href="./images/icons.svg#star"></use></svg
        ></span>
      </div>
      <button class="reviews__form-open-btn js-form-open-btn" type="button">
        Написати відгук
      </button>
    </div>
    <form class="reviews__form js-review-form visually-hidden h0 o0">
      <label class="reviews__form-label" for="raiting">Оцінка</label>
      <span class="reviews__form-raiting" name="raiting">
        <svg width="30" height="30">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="30" height="30">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="30" height="30">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="30" height="30">
          <use href="./images/icons.svg#star"></use>
        </svg>
        <svg width="30" height="30">
          <use href="./images/icons.svg#star"></use>
        </svg>
      </span>

      <div class="reviews__form-inputs-wrap">
        <div class="reviews__form-input-wrap">
          <input
            class="reviews__form-input"
            type="name"
            placeholder="Ім'я"
            required
          />
          <input
            class="reviews__form-input"
            type="email"
            placeholder="Електронна адреса"
            required
          />
        </div>

        <input
          class="reviews__form-input w820p"
          type="text"
          placeholder="Заголовок відгука"
          required
        />

        <textarea
          class="reviews__form-textarea"
          name="review"
          id="review"
          placeholder="Відгук"
          required
        ></textarea>
      </div>
      <div class="reviews__form-submit-btn-wrap">
        <button class="reviews__form-submit-btn" type="submit">
          Надіслати відгук
        </button>
      </div>
    </form>

    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__item-left">
          <span class="reviews__item-raiting"
            ><svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use></svg
          ></span>
          <div class="reviews__item-info">
            <div class="reviews__item-letter-wrap">
              <p class="reviews__item-letter">K</p>
            </div>
            <div>
              <p class="reviews__item-name">Ксенія</p>
              <p class="reviews__item-date">20 листопада 2022 р.</p>
            </div>
          </div>
        </div>
        <div class="reviews__item-right">
          <p class="reviews__item-title">Гарна ковдра!</p>
          <p class="reviews__item-text">
            Дуже приємна на дотик тканина. Якісне фірмове пакування. Щодо
            розмірів, то краще меншій розмір брати, так як більшомірять. Якісне
            обслуговування і безкоштовна доставка!
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__item-left">
          <span class="reviews__item-raiting"
            ><svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use></svg
          ></span>
          <div class="reviews__item-info">
            <div class="reviews__item-letter-wrap">
              <p class="reviews__item-letter">K</p>
            </div>
            <div>
              <p class="reviews__item-name">Ксенія</p>
              <p class="reviews__item-date">20 листопада 2022 р.</p>
            </div>
          </div>
        </div>
        <div class="reviews__item-right">
          <p class="reviews__item-title">Гарна ковдра!</p>
          <p class="reviews__item-text">
            Дуже приємна на дотик тканина. Якісне фірмове пакування. Щодо
            розмірів, то краще меншій розмір брати, так як більшомірять. Якісне
            обслуговування і безкоштовна доставка!
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__item-left">
          <span class="reviews__item-raiting"
            ><svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use></svg
          ></span>
          <div class="reviews__item-info">
            <div class="reviews__item-letter-wrap">
              <p class="reviews__item-letter">K</p>
            </div>
            <div>
              <p class="reviews__item-name">Ксенія</p>
              <p class="reviews__item-date">20 листопада 2022 р.</p>
            </div>
          </div>
        </div>
        <div class="reviews__item-right">
          <p class="reviews__item-title">Гарна ковдра!</p>
          <p class="reviews__item-text">
            Дуже приємна на дотик тканина. Якісне фірмове пакування. Щодо
            розмірів, то краще меншій розмір брати, так як більшомірять. Якісне
            обслуговування і безкоштовна доставка!
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__item-left">
          <span class="reviews__item-raiting"
            ><svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg width="25" height="25">
              <use href="./images/icons.svg#star"></use></svg
          ></span>
          <div class="reviews__item-info">
            <div class="reviews__item-letter-wrap">
              <p class="reviews__item-letter">K</p>
            </div>
            <div>
              <p class="reviews__item-name">Ксенія</p>
              <p class="reviews__item-date">20 листопада 2022 р.</p>
            </div>
          </div>
        </div>
        <div class="reviews__item-right">
          <p class="reviews__item-title">Гарна ковдра!</p>
          <p class="reviews__item-text">
            Дуже приємна на дотик тканина. Якісне фірмове пакування. Щодо
            розмірів, то краще меншій розмір брати, так як більшомірять. Якісне
            обслуговування і безкоштовна доставка!
          </p>
        </div>
      </li>
    </ul>

    <button class="reviews__show-more-btn">Показати ще</button>
  </div>
</div>
