<li class="single-category__item swiper-slide">
  <div class="single-category__sale-item-link">
    <div class="single-category__item-overlay js-quick-view">
      <p class="single-category__item-overlay-text">Швидкий перегляд</p>
      <p class="single-category__item-overlay-text-tab">+</p>
    </div>
    <div class="single-category__item-about">
      <a href="./item.html">
        <div class="single-category__item-img">
          <img />
        </div>
      </a>
      <h4 class="single-category__item-title">Ковдра Soft Grid</h4>
      <p class="single-category__item-desc">Зроблена з преміальної бавовни</p>
      <span class="single-category__item-price old-price"
        >Від <span class="item-price">1600 грн</span
        ><span class="item-new-price">999 грн</span>
      </span>
    </div>
  </div>
  <div class="modal__body-color-picker">
    <a class="modal__body-color-item" href="#"></a>
    <a class="modal__body-color-item active" href="#"></a>
    <a class="modal__body-color-item" href="#"></a>
    <a class="modal__body-color-item" href="#"></a>
  </div>
</li>
