<section class="fabrics__section">
  <div class="container">
    <h1 class="faq__section-title">Тканини</h1>
    <div class="faq__items-wrap">
      <div class="faq__item">
        <div class="faq__question">
          <h2 class="faq__question-title">Сатин</h2>
          <div class="faq__question-icon">
            <svg width="13" height="8">
              <use href="./images/icons.svg#faq-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="faq__answer visually-hidden">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            animi voluptatibus expedita commodi, rerum, quod ratione voluptate
            quos fugit veritatis necessitatibus sit consequatur atque culpa
            magnam dolores reiciendis doloribus molestias. Consequatur non nihil
            omnis esse iste ut quod provident quidem? Neque tenetur aut culpa
            vitae totam non aliquam officia aliquid labore et, error nam facere
            numquam quos ex unde nobis. Adipisci mollitia itaque obcaecati id
            expedita sit quibusdam consequuntur perspiciatis, nam laboriosam
            accusantium porro accusamus ullam repellendus eveniet laudantium
            aperiam veniam unde libero! Quis eveniet quos corrupti vel,
            recusandae odit.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          <h2 class="faq__question-title">Ранфорс</h2>
          <div class="faq__question-icon">
            <svg width="13" height="8">
              <use href="./images/icons.svg#faq-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="faq__answer visually-hidden">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            reprehenderit, vel porro hic illo deserunt possimus magnam tenetur
            odit incidunt aut dolorum, modi cumque sapiente corrupti voluptatem
            animi fugit eius. Quos nisi exercitationem at recusandae doloribus
            id aut, doloremque adipisci eveniet aliquid officia facilis saepe,
            explicabo dolorem voluptatum maiores eum impedit placeat veniam,
            beatae officiis delectus repellendus optio! Fugit, veritatis! Dolor
            deserunt nobis praesentium doloremque natus harum veritatis
            architecto reiciendis voluptatum repudiandae. Reiciendis libero
            aspernatur ipsam. Corrupti ipsum vel expedita veritatis! Ducimus
            accusamus, recusandae deserunt quia provident sapiente at excepturi?
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          <h2 class="faq__question-title">Котон</h2>
          <div class="faq__question-icon">
            <svg width="13" height="8">
              <use href="./images/icons.svg#faq-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="faq__answer visually-hidden">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
            vitae, quibusdam, beatae neque ratione eveniet, earum natus quis
            inventore nam fugiat? Modi labore suscipit unde laborum veritatis,
            aliquam minima consectetur. Voluptates, accusantium animi facilis
            quos saepe fuga, ullam magni possimus eius esse minima maxime?
            Fugiat cum architecto, eius laudantium, magni voluptate officiis,
            tenetur adipisci blanditiis ratione harum. Recusandae, eveniet
            officiis. Eum voluptatibus, rem laboriosam molestias voluptates
            quasi ratione laudantium adipisci! Ipsam reprehenderit architecto
            dolor distinctio eaque nihil beatae totam, minus suscipit placeat!
            Ducimus vel eum eveniet pariatur reiciendis eos cum.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          <h2 class="faq__question-title">Муслін</h2>
          <div class="faq__question-icon">
            <svg width="13" height="8">
              <use href="./images/icons.svg#faq-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="faq__answer visually-hidden">
          <p>
            Ми використовуємо високоякісний муслін турецького виробництва. Це
            безперечно кращий натуральний матеріал для постільної білизни. 
            Виготовляється муслін способом полотняного переплетення з подальшим
            нашаруванням. Нитки накладаються одна на одну на досить великій
            відстані, формуючи вільне полотняне плетіння. Завдяки  нашаруванню,
            кінцеве полотно досягає максимальної міцності, при доволі пухкому і
            вільному плетінні. Муслін може мати різну кількість шарів, в
            залежності від майбутньої сфери застосування. Для постільної
            білизни, пледів та інших текстильних виробів краще за все
            використовувати чотиришаровий муслін. До основних переваг мусліну
            можна віднести: Високу повітропроникність та гігроскопічність
            тканини. Муслін чудово вбирає та відводить вологу. Постіль "дихає"
            практично як живий організм, даруючи власнику комфорт під час сну.
            Стильний, сучасний, привабливий зовнішній вигляд. Надзвичайно гарна
            фактура тканини, з пухким полотняним плетінням стане прикрасою вашої
            оселі. Висока зносостійкість мусліну. Чотири шари тканини надійно
            поєднані між собою в цільне полотно яке буде довго радувати свого
            власника своєю красою. Матеріал повністю натуральний. Для
            виготовлення мусліну використовується тільки відбірна 100% бавовна
            та безпечні барвники.  Терморегуляція. Полотно не тільки надзвичайно
            приємне на дотик, воно ще й дуже швидко адаптується під температуру
            тіла та навколишнього середовища. Взимку вам буде тепло  та затишно
            вже з першої хвилини в ліжку, а влітку не буде спекотно навіть в
            самі жаркі дні. Прасувати муслін немає потреби. Фактурний малюнок
            зберігається ідеально, а сторонні пом'ятості не з'являються. До
            недоліків матеріалу можна віднести: Вартість. Так, муслін досить
            дорогий матеріал, тому вартість готових виробів відповідна.
            Щоправда, ейфорія та задоволення від користування такою постіллю
            повністю затьмарять всі сумніви та роздуми у доцільності покупки.
            Оскільки для фарбування використовуються найделікатніші барвники,
            вироби можуть втрачати яскравість кольорів (особливо стосується
            просушування на відкритому сонці вздовж тривалого терміну). Також, з
            часом, колір може вимиватися в наслідок прання.  Муслін має досить
            вільне переплетіння ниток, тому можливе виникнення затяжок в процесі
            експлуатації. Діти з іграшками в ліжку, домашні тваринки з гострими
            кігтиками, прикраси з виступами або гострими частинками - все це, чи
            щось подібне може призвести до утворення затяжки. Але не варто
            панікувати. Багатошаровість тканини забезпечить цілісність полотна.
            У разі появи витягнутої ниточки її можна легенько вправити назад або
            зрізати. Це жодним чином не вплине на терміни експлуатації
            постільної білизни. Достатньо велика вага комплекту може викликати
            певні труднощі при організації прання та просушування постільної
            білизни із мусліну. У маловагових пральних машинах доведеться прати
            комплект двома частинами, щоб не перевищувати гранично допустиме
            завантаження барабана
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
