<section class="faq__section">
  <div class="container">
    <h1 class="faq__section-title">Популярні питання</h1>
    <div class="faq__items-wrap">
      <div class="faq__item">
        <div class="faq__question">
          <h2 class="faq__question-title">Доставка та оплата</h2>
          <div class="faq__question-icon">
            <svg width="13" height="8">
              <use href="./images/icons.svg#faq-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="faq__answer visually-hidden">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            animi voluptatibus expedita commodi, rerum, quod ratione voluptate
            quos fugit veritatis necessitatibus sit consequatur atque culpa
            magnam dolores reiciendis doloribus molestias. Consequatur non nihil
            omnis esse iste ut quod provident quidem? Neque tenetur aut culpa
            vitae totam non aliquam officia aliquid labore et, error nam facere
            numquam quos ex unde nobis. Adipisci mollitia itaque obcaecati id
            expedita sit quibusdam consequuntur perspiciatis, nam laboriosam
            accusantium porro accusamus ullam repellendus eveniet laudantium
            aperiam veniam unde libero! Quis eveniet quos corrupti vel,
            recusandae odit.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          <h2 class="faq__question-title">Повернення та обмін товару</h2>
          <div class="faq__question-icon">
            <svg width="13" height="8">
              <use href="./images/icons.svg#faq-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="faq__answer visually-hidden">
          <p>
            Згідно Законодовства України, а саме Додатку №3 Постанови КМУ від
            19.03.94 №172 «Про реалізацію окремих положень Закону України «Про
            захист прав споживачів» наступні товари належної якості поверненню
            та обміну не підлягають: - постільна білизна; - рушники; - ковдри і
            подушки; - нижня білизна, купальники, нічні сорочки, халати; -
            товари для немовлят.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          <h2 class="faq__question-title">Догляд</h2>
          <div class="faq__question-icon">
            <svg width="13" height="8">
              <use href="./images/icons.svg#faq-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="faq__answer visually-hidden">
          <p>
            Догляд за постільною білизною є важливою частиною збереження її
            якості та забезпечення комфорту під час сну. Правильний догляд за
            постільною білизною також може збільшити її тривалість використання.
            Регулярне прання при рекомендованих режимах прання, відновлює
            тканину, видаляє плями та запахи, а також зменшує ризик пошкодження
            білизни. Щоб Ваша постільна білизна залишалася яскравою та приємною
            до тіла якомога довше, рекомендуємо доглядати за нею так: - нову
            постільну білизну перед першим використанням рекомендуємо випрати в
            холодній воді на делікатному режимі, не використовуючи машинне
            сушіння - наступні прання при 40°С - машинне сушіння тільки на
            делікатному режимі - не сушити на яскравому сонці - не
            використовувати засоби для прання, що містять хлор - хімчистка
            заборонена - підковдру і наволочки перед пранням рекомендовано
            вивернути навиворіт - щоб постільна білизна зі 100% бавовни легше
            прасувалась, радимо гладити її трохи вологою   Всі вироби зі 100%
            бавовни можуть давати усадку до 5% по довжині та ширині після
            першого прання. Зверніть, будь ласка, на це увагу при підборі свого
            ідеального розміру:)
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__question">
          <h2 class="faq__question-title">
            Стандартні розміри постільної білизни
          </h2>
          <div class="faq__question-icon">
            <svg width="13" height="8">
              <use href="./images/icons.svg#faq-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="faq__answer visually-hidden">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ex
            quae maiores exercitationem ipsam nesciunt vitae in minima.
            Consectetur impedit praesentium molestias earum facilis accusantium
            quis facere id velit ab? Exercitationem delectus iusto dolores at
            suscipit neque laudantium, sit tempore aliquid voluptates quisquam
            sequi et animi soluta dolore deleniti. Fugit, reiciendis blanditiis
            fuga necessitatibus illo saepe ab ea debitis nostrum? Incidunt sed
            explicabo veritatis quo nesciunt adipisci ipsam deleniti enim.
            Beatae fuga tempore eligendi. Porro, harum sequi corrupti explicabo
            ab hic a eaque soluta! Nostrum dicta nulla quae unde aliquid.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-store">
  <div class="container">
    <h3 class="about-store__title">Про магазин</h3>
    <p class="about-store__desc">
       Магазин «На добраніч» представляє сучасну колекцію домашнього текстилю.
      Елегантність та стиль у поєднанні із якістю. У нас ви можете придбати
      фірмову постільну білизну, банні халати і рушники, пледи, покривала,
      ковдри і подушки, кухонні рушники. <br />
      Купуючи товар у нашому інтернет-магазині, можете бути впевнені в
      бездоганній якості продукції.
    </p>
  </div>
</section>

<section class="contacts">
  <div class="container">
    <h3 class="contacts__title">Контакти</h3>
    <div class="contacts__content">
      <div>
        <div class="contacts__img"></div>
      </div>
      <div class="contacts__info">
        <h4 class="contacts__location">
          Магазин "На добраніч" <br />
          м. Умань, Черкаська обл.
        </h4>
        <ul class="contacts__info-list">
          <li class="contacts__info-item">
            Роздріб: <br />
            (098) 33-63-028 <br />
            (098)33-63-028 (Viber, Telegram)
          </li>
          <li class="contacts__info-item">
            Email: <br />
            rendez-vous-elite@ukr.net
          </li>
          <li class="contacts__info-item">
            Графік роботи: <br />
            Пн. - Нд. 9.00 - 19.00
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
