<section class="self-promotion">
  <div class="container">
    <div class="self-promotion__text">
      <p>
        Магазин «На добраніч» представляє сучасну колекцію домашнього текстилю.
        Елегантність та стиль у поєднанні із якістю. У нас ви можете придбати
        фірмову постільну білизну, банні халати і рушники, пледи, покривала,
        ковдри і подушки, кухонні рушники.
      </p>
      <p>
        В "На добраніч" ми віримо, що ваша спальня повинна бути місцем для
        відпочинку та релаксації, тому ми докладаємо зусиль, щоб забезпечити вам
        максимальний комфорт. Купуючи товар у нашому інтернет-магазині, можете
        бути впевнені в бездоганній якості продукції.
      </p>
    </div>
    <a class="self-promotion__link" href="#">Обрати категорію</a>
  </div>
</section>
