.best-seller {
  background-color: $pastel;

  @include tablet {
    margin-bottom: 40px;
    padding: 25px 0px;
  }

  @include desktop {
    margin-bottom: 50px;
    padding: 45px 0px;
  }
}

.best-seller-wrap {
  display: flex;

  @include tablet {
    gap: 15px;
  }

  @include desktop {
    gap: 60px;
  }
}

.best-seller__img {
  @include tablet {
    width: 325px;
    height: 300px;
  }

  @include desktop {
    width: 610px;
    height: 370px;
  }
}

.best-seller-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  @include tablet {
    gap: 5px;
  }

  @include desktop {
    gap: 7px;
  }
}

.best-seller-section__title {
  color: $dark-blue;
  font-weight: 600;

  @include tablet {
    font-size: 30px;
    line-height: calc(37px / 30px);
  }

  @include desktop {
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.best-seller__title {
  font-weight: 500;

  @include tablet {
    font-size: 20px;
    line-height: calc(24px / 20px);
  }

  @include desktop {
    font-size: 24px;
    line-height: calc(29px / 24px);
  }
}

.best-seller__price {
  font-weight: 500;

  @include tablet {
    font-size: 16px;
    line-height: calc(20px / 16px);
  }

  @include desktop {
    font-size: 20px;
    line-height: calc(24px / 20px);
  }
}

.best-seller__raiting {
  display: flex;
  align-items: center;

  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 10px;
  }

  a {
    text-decoration: revert;
    font-size: 15px;
  }

  &-stars {
    display: flex;
  }
}

.best-seller__desc {
  line-height: 1.3;

  @include tablet {
    font-size: 15px;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.best-seller__btn {
  padding: 10px 30px;
  background-color: $main-blue;
  border: 1px solid $light-grey;
  border-radius: 5px;
  color: $white;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;

  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $dark-blue;
  }

  @include less-then-desktop {
    display: none;
  }
}
