.breadcrumbs {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  gap: 5px;
  font-size: 10px;
  line-height: calc(12px / 10px);

  a {
    font-weight: 500;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  span {
    font-weight: 600;
    line-height: $line-height;
  }

  @include tablet {
    margin-top: 21.5px;
    margin-bottom: 11.5px;
    font-size: 14px;
    line-height: calc(17px / 14px);
  }

  @include desktop {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: calc(20px / 16px);
  }
}
