.breadcrumbs {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 5px;

  a {
    font-weight: 500;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  span {
    font-weight: 600;
    line-height: $line-height;
  }

  @include tablet {
    margin-top: 21.5px;
    margin-bottom: 11.5px;
  }

  @include desktop {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
