.cabinet-section {
  display: none;
}

.cabinet-section-active {
  display: block;
}

.cabinet-title__wrap {
  margin-bottom: 15px;
  text-align: center;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 40px;
    border-bottom: 1px solid $light-grey;
  }
}

.cabinet-title {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29px / 24px);

  @include tablet {
    margin-bottom: 5px;
  }

  @include desktop {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.cabinet-navigation__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet {
    min-height: 281px;
    justify-content: space-between;
    flex-direction: row;
  }

  @include desktop {
    min-height: auto;
    gap: 35px;
    justify-content: unset;
  }
}

.cabinet-content {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 40px;
    gap: 23px;
  }

  @include desktop {
    min-height: 355px;
    margin-bottom: 90px;
    gap: 45px;
    flex-direction: row;
  }
}

.cabinet-navigation__list {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  border: 1px solid $light-grey;
  border-bottom: none;
  border-radius: 0px 0px 5px 5px;

  @include tablet {
    display: block;
    width: 210px;
    border: 1px solid $light-grey;
    border-radius: 5px;
  }

  @include desktop {
    width: 315px;
  }
}

.cabinet-navigation__item {
  width: 50%;
  background-color: $white;
  border-bottom: 1px solid $light-grey;

  @include tablet {
    width: unset;
  }
}

.cabinet-navigation__item:first-child {
  border-radius: 5px 5px 0px 0px;
}

.cabinet-navigation__item:last-child {
  border-radius: 0px 0px 5px 0px;

  @include tablet {
    border-bottom: none;
    border-radius: 0px 5px 5px;
  }
}

.cabinet-navigation__item:nth-last-child(2) {
  border-radius: 0px 0px 0px 5px;

  @include tablet {
    border-radius: 0px;
  }
}

.cabinet-navigation__item:nth-child(2n) {
  @include less-then-tablet {
    border-left: 1px solid $light-grey;
  }
}

.cabinet-navigation__item:last-child .cabinet-navigation__button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cabinet-navigation__item:last-child .cabinet-navigation__button svg {
  transform: rotate(90deg);
}

.cabinet-navigation__button {
  width: 100%;
  padding: 8.5px 0px;
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
  transition: background-color $transition;

  @include tablet {
    padding: 12px 25px;
    text-align: left;
    font-size: 16px;
  }

  @include desktop {
    padding: 17px 25px;
  }
}

.cabinet-navigation__button:hover,
.cabinet-navigation__button:focus {
  background-color: $main-blue;
}

.cabinet-navigation__button.active {
  font-weight: 600;
  background-color: $blue;
}

.cabinet-content__block {
  min-height: 251px;

  @include tablet {
    width: 436px;
    min-height: unset;
  }

  @include desktop {
    width: 550px;
  }
}

.personal-data__form {
  display: flex;
  flex-direction: column;
}

.personal-data__label {
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.3;

  @include tablet {
    font-size: 16px;
  }
}

.personal-data__input {
  padding: 8px 15px 9px;
  margin-bottom: 10px;
  font-size: 15px;
  border: 1px solid $light-grey;
  border-radius: 5px;

  @include tablet {
    padding: 12px 25px;
    font-size: 16px;
  }

  @include desktop {
    padding: 17px 25px;
    margin-bottom: 15px;
  }
}

.personal-data__input:last-child {
  @include tablet {
    margin-bottom: 12px;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.personal-data__btn-wrap {
  text-align: right;
}

.personal-data__btn {
  padding: 8px 20px;
  color: $white;
  font-weight: 600;
  line-height: 1.3;
  background-color: $main-blue;
  border: 1px solid $light-grey;
  border-radius: 5px;

  @include desktop {
    padding: 9.5px 30px;
    font-size: 24px;
  }
}

.cabinet-contacts {
  height: fit-content;
  margin-bottom: 15px;
  padding: 11px 0px;
  background-color: $blue;
  border: 1px solid $light-grey;
  border-radius: 5px;
  text-align: center;

  @include tablet {
    margin-bottom: 0px;
    padding: 10px 0px;
  }

  @include desktop {
    width: 295px;
    padding: 20px 0px;
  }
}

.cabinet-contacts__text {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;

  @include tablet {
    margin-bottom: 8px;
    font-size: 16px;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.cabinet-contacts__phone {
  display: flex;
  justify-content: center;
  gap: 10px;

  @include tablet {
    position: relative;
    display: block;
    text-align: center;
  }
}

.cabinet-contacts__icon {
  height: 15px;
  fill: $black;

  @include tablet {
    position: absolute;
    left: 172px;
  }

  @include desktop {
    left: 58px;
  }
}

.cabinet-contacts__list {
  display: flex;
  gap: 10px;

  @include tablet {
    justify-content: center;
    gap: 15px;
  }

  @include desktop {
    flex-direction: column;
    gap: 20px;
  }
}

.cabinet-contacts__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;

  @include tablet {
    font-size: 16px;
  }
}
