.cart-title__wrap {
  margin-bottom: 10px;
  text-align: center;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.cart-title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29px / 24px);

  @include desktop {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.cart-title__link {
  font-size: 15px;
  line-height: 1.3;
  text-decoration: underline;

  @include tablet {
    font-size: 20px;
  }
}

.cart__content {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    display: flex;
    margin-bottom: 90px;
    gap: 20px;
  }
}

.cart__content-left {
  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    width: 820px;
  }
}

.cart__content-right {
  @include tablet {
    display: flex;
    justify-content: flex-end;
  }

  @include desktop {
    display: block;
    width: 400px;
  }
}

.cart__total-wrap {
  @include tablet {
    width: 325px;
  }

  @include desktop {
    width: unset;
    padding: 20px;
    background-color: $pastel;
  }
}

.cart__total {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;

  @include tablet {
    gap: 10px;
    margin-bottom: 10px;
  }
  @include desktop {
    gap: 15px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid $light-grey;
  }
}

.cart__total-item {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.3;

  span {
    font-weight: 600;
  }

  @include tablet {
    font-size: 20px;
  }
}

.cart__total-buy-wrap {
  margin: 0px auto;
}

.cart__total-buy-link {
  display: block;
  padding: 8px 0px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;
  color: $white;
  text-align: center;
  background-color: $main-blue;
  border: 1px solid $light-grey;
  border-radius: 5px;

  @include tablet {
    padding: 9.5px 0px;
    font-size: 24px;
  }
}

.cart__total-buy-link:hover,
.cart__total-buy-link:focus {
  background-color: $dark-blue;
}
