.category-page__text {
  margin-bottom: 15px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.category-page__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29px / 24px);

  @include desktop {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.category-page__desc {
  margin: 0px auto;
  text-align: center;
  line-height: 1.3;
  font-size: 15px;

  @include tablet {
    width: 535px;
  }

  @include desktop {
    width: 820px;
    font-size: 20px;
  }
}

.category-page__filter-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid $black;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.category-page__filter-title {
  color: $dark-blue;
  font-size: 14px;
  line-height: 1.3;

  @include tablet {
    font-weight: 600;
    font-size: 16px;
  }

  @include desktop {
    font-weight: 700;
    font-size: 20px;
  }
}

.category-page__filter {
  display: flex;
  align-items: center;

  @include tablet {
    gap: 10px;
  }

  @include desktop {
    gap: 20px;
  }
}

.category-page__filter-list {
  display: flex;

  @include tablet {
    gap: 10px;
  }

  @include desktop {
    gap: 20px;
  }
}

.category-page__filter-item {
  padding: 11px 0px;
  position: relative;
  line-height: 1.3;

  @include tablet {
    font-size: 15px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.category-page__sort {
  display: flex;
  align-items: center;

  @include tablet {
    gap: 10px;
  }

  @include desktop {
    gap: 20px;
  }
}

.category-page__sort select {
  background-color: $light-pastel;
  border: none;
  width: 140px;
  font-size: 14px;
}

.category-page__filter-btn {
  position: relative;
  display: none;

  @include tablet {
    display: block;
  }
}

.category-page__filter-item:hover:after {
  z-index: 3;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #83b0e5;
  border-radius: 0 0 3px 3px;
  position: absolute;
  left: 0;

  @include tablet {
    top: 39px;
  }

  @include desktop {
    top: 40px;
  }
}

.category-page__filter-drop {
  z-index: 2;
  position: absolute;
  padding: 15px;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $white;
  border: 1px solid $light-grey;
  border-top: none;
  border-radius: 0 0 5px 5px;

  @include tablet {
    top: 40px;
  }

  @include desktop {
    top: 41px;
  }
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 10px;
  margin-bottom: 25px;

  @include tablet {
    gap: 30px 14px;
    margin-bottom: 40px;
    justify-content: unset;
  }

  @include desktop {
    gap: 90px 20px;
    margin-bottom: 90px;
  }
}

.goods-list .single-category__item,
.goods-list .single-category__item-img,
.goods-list .single-category__item-about {
  width: 140px;
  gap: 2px;

  @include tablet {
    width: 325px;
    gap: 5px;
  }

  @include desktop {
    width: 295px;
  }
}

.goods-list .single-category__item-img {
  height: 170px;

  @include tablet {
    height: 300px;
  }

  @include desktop {
    height: 310px;
  }
}

.goods-list .single-category__item-about {
  min-width: 140px;

  @include less-then-tablet {
    margin-bottom: 3px;
  }
}

@include less-then-tablet {
  .goods-list .single-category__item-overlay {
    top: 125;
    left: 95;
  }

  .goods-list .single-category__item-title {
    font-size: 15px;
  }

  .goods-list .single-category__item-desc,
  .goods-list .single-category__item-price {
    font-size: 12px;
  }

  .goods-list .modal__body-color-picker {
    gap: 10px;
  }

  .goods-list .modal__body-color-item {
    width: 14px;
    height: 14px;
  }

  .goods-list .modal__body-color-item.active {
    width: 24px;
    height: 24px;
    outline-offset: -4px;
  }
}
