.categories {
  margin-bottom: 40px;

  @include desktop {
    margin-bottom: 90px;
  }
}

.categories-wrap {
  text-align: center;

  @include tablet {
    padding: 0px 52px;
  }

  @include desktop {
    padding: 0;
  }
}

.categories__title {
  @include tablet {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(37px / 30px);
  }

  @include desktop {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.categories__list {
  display: flex;

  @include tablet {
    gap: 15px;
  }

  @include desktop {
    gap: 20px;
  }
}
