.category__item-img-wrap {
  border: 1px solid $light-grey;
  border-bottom-width: 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: $white;

  @include tablet {
    width: 155px;
    height: 145px;
  }

  @include desktop {
    width: 293px;
    height: 288px;
  }
}

.category__item-img {
  display: block;
  width: 100%;
  object-fit: fill;
}

.category__item-link {
  &:hover .category__item-desc,
  &:focus .category__item-desc {
    background-color: $main-blue;
  }
}

.category__item-desc {
  display: block;
  padding: 15px 0px;

  font-weight: 500;

  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 0px 0px 5px 5px;

  transition: background-color $transition;

  @include tablet {
    font-size: 15px;
    line-height: calc(18px / 15px);
  }

  @include desktop {
    font-size: 20px;
    line-height: calc(24px / 20px);
  }
}
