.categories {
  margin-bottom: 30px;
  overflow: hidden;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 90px;
  }
}

.categories-wrap {
  text-align: center;

  @include tablet {
    padding: 0px 52px;
  }

  @include desktop {
    padding: 0;
  }
}

.categories__title {
  margin-bottom: 10px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24px / 20px);

  @include tablet {
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    line-height: calc(37px / 30px);
  }

  @include desktop {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.categories__list {
  display: flex;
  gap: 10px;
  min-width: 320px;

  @include tablet {
    min-width: 0px;
    gap: 15px;
  }

  @include desktop {
    gap: 22px;
  }
}

.categories-wrap.container {
  @include tablet {
    padding: 0px;
  }
}
