footer {
  color: $white;

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
  }
}

.footer-wrap {
  background-color: $em-dark-blue;
}

.footer-wrap .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 15px 15px;

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 20px 52px;
    flex-direction: row;
  }

  @include desktop {
    padding: 60px 85px 25px 85px;
    justify-content: center;
  }
}

.footer__socials {
  margin-bottom: 20px;

  grid-area: 2 / 1 / 2 / 2;

  @include tablet {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
  }

  @include desktop {
    display: block;
    margin-right: 123px;
  }
}

.footer__socials_links {
  display: flex;
  gap: 15px;
}

.footer__socials_icon {
  fill: $blue;
  transition: fill $transition;
}

.footer__socials_link:hover .footer__socials_icon,
.footer__socials_link:focus .footer__socials_icon {
  fill: $main-blue;
}

.footer__logo {
  @include less-then-tablet {
    margin-right: 30px;
  }
}

.footer__logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    display: block;
  }
}

.footer__sections {
  margin-bottom: 20px;

  grid-area: 1 / 1 / 2 / 2;

  @include tablet {
    display: flex;
    gap: 45px;
  }

  @include desktop {
    gap: 90px;
  }
}

.footer__catalog-title,
.footer__info-title,
.footer__contacts-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid $white;

  @include tablet {
    display: block;
    padding-bottom: 0px;
    border: none;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.footer__info-title,
.footer__contacts-title {
  padding-top: 10px;

  @include tablet {
    padding-top: 0px;
  }
}

.footer__contacts-title {
  @include tablet {
    display: none;
  }
}

.footer__section-arrow {
  fill: $white;
  transition: transform $transition;

  @include tablet {
    display: none;
  }
}

.footer__catalog-list,
.footer__info-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  @include tablet {
    gap: 5px;
  }

  @include desktop {
    gap: 10px;
  }
}

.footer__catalog.active .footer__section-arrow,
.footer__info.active .footer__section-arrow,
.footer__contacts.active .footer__section-arrow {
  transform: rotate(-180deg);
}

.footer__catalog-list,
.footer__info-list,
.footer__contacts-wrap {
  max-height: 0px;
  transition: max-height 0.5s, padding 0.5s;
  overflow: hidden;

  @include tablet {
    max-height: fit-content;
  }
}

.footer__catalog.active .footer__catalog-list,
.footer__info.active .footer__info-list,
.footer__contacts.active .footer__contacts-wrap {
  max-height: 1000px;
  transition: max-height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

.footer__catalog-link,
.footer__info-link,
.footer__contacts-link {
  transition: color $transition;
}

.footer__catalog-link:hover,
.footer__catalog-link:focus,
.footer__info-link:hover,
.footer__info-link:focus,
.footer__contacts-link:hover,
.footer__contacts-link:focus {
  color: $blue;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  @include tablet {
    justify-content: flex-start;
  }
}

.footer__contacts-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 0px;

  @include tablet {
    max-height: fit-content;
    gap: 10px;
  }

  @include desktop {
    gap: 20px;
  }
}

.footer__contacts-phone,
.footer__contacts-mail,
.footer__contacts-location {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.footer__contacts-icon {
  width: fit-content;
  height: 15px;
  fill: $blue;
}

.footer__copyright {
  display: flex;
  justify-content: center;

  grid-area: 3 / 1 / 3 / 2;

  line-height: 1.3;

  @include tablet {
    display: block;
    width: 768px;
  }

  @include desktop {
    width: 1240px;
  }
}

.footer__copyright-wrap {
  display: flex;
  gap: 10px;

  p {
    display: inline-block;
  }
}
