.insta {
  background-color: $pastel;

  .container {
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 19px 51px 19px 0px;
    }

    @include desktop {
      padding: 45px 0px;
    }
  }
}

.insta__text {
  position: relative;
  width: 100%;
  background: url('../images/feather.png');

  @include tablet {
    background-size: 465px 387px;
    background-repeat: no-repeat;
    background-position-y: 30%;
  }

  @include desktop {
    background-size: 642px 571px;
    background-repeat: no-repeat;
    background-position-y: 30%;
  }
}

.insta__text-wrap {
  position: absolute;

  @include tablet {
    top: 63px;
    right: 49px;
  }

  @include desktop {
    top: 102px;
    right: 40px;
  }
}

.insta__link-text {
  font-weight: 600;
  line-height: 1.3;

  @include tablet {
    width: 263px;
    margin-bottom: 6px;
    font-size: 24px;
  }

  @include desktop {
    width: 360px;
    margin-bottom: 19px;
    font-size: 32px;
  }
}

.insta__link {
  line-height: 1.3;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    font-size: 32px;
  }
}

.insta__gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include tablet {
    width: 262px;
  }

  @include desktop {
    width: 620px;
  }
}

.insta__gallery-item {
  background-color: $light-grey;
  border-radius: 5px;

  @include tablet {
    width: 126px;
    height: 126px;
  }

  @include desktop {
    width: 200px;
    height: 200px;
  }
}
