.insta {
  background: url('../images/feather.png');
  background-size: 332px 260px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30%;

  background-color: $pastel;

  @include tablet {
    background: none;
    background-color: $pastel;
  }
}

.insta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 180px;
  padding: 15px 0px;

  @include tablet {
    padding: 19px 51px 19px 0px;
    flex-direction: row;
    align-items: unset;
  }

  @include desktop {
    padding: 45px 0px;
  }
}

.insta__text {
  @include tablet {
    position: relative;
    width: 100%;
    background: url('../images/feather.png');
    background-size: 465px 387px;
    background-repeat: no-repeat;
    background-position-y: 30%;
  }

  @include desktop {
    background-size: 642px 571px;
  }
}

.insta__text-wrap {
  width: 160px;

  @include tablet {
    position: absolute;
    width: unset;
    top: 60px;
    right: 25px;
  }

  @include desktop {
    top: 102px;
    right: 40px;
  }
}

.insta__link-text {
  font-weight: 700;
  line-height: 1.3;

  @include tablet {
    font-weight: 600;
    width: 263px;
    margin-bottom: 6px;
    font-size: 24px;
  }

  @include desktop {
    width: 360px;
    margin-bottom: 19px;
    font-size: 32px;
  }
}

.insta__link {
  font-weight: 600;
  line-height: 1.3;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    font-size: 32px;
  }
}

.insta__gallery-list {
  display: flex;
  gap: 5px;
  min-width: 295px;

  @include tablet {
    width: 262px;
    flex-wrap: wrap;
    gap: 10px;
  }

  @include desktop {
    width: 620px;
  }
}

.insta__gallery-item {
  background-color: $light-grey;
  border-radius: 5px;
  min-width: 70px;
  min-height: 70px;

  @include tablet {
    width: 126px;
    height: 126px;
  }

  @include desktop {
    width: 200px;
    height: 200px;
  }
}
