.ordering-title__wrap {
  text-align: center;
  border-bottom: 1px solid $light-grey;

  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.ordering__content {
  display: flex;

  @include tablet {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
  }
}

.ordering-title {
  font-weight: 500;

  @include tablet {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: calc(29px / 24px);
  }

  @include desktop {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.ordering__content-left {
  @include desktop {
    width: 610px;
  }
}

.ordering__form-wrap {
  @include desktop {
    padding-bottom: 90px;
  }
}

.ordering__form {
  display: flex;
  flex-direction: column;
}

.ordering__form-section {
  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.ordering__form-section:last-child {
  margin-bottom: 0px;
}

.ordering__form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;

  @include tablet {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  @include desktop {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.ordering__form-inputs-group {
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    gap: 40px 15px;
  }

  @include desktop {
    gap: 50px 20px;
  }
}

.ordering__form-input-wrap {
  position: relative;
  display: inline-block;
}

.ordering__form-input {
  min-width: 295px;
  line-height: 1.3;
  border: 1px solid $light-grey;
  border-radius: 5px;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  @include tablet {
    padding: 21.2px 0px 6.5px 25px;
  }

  @include desktop {
    padding: 26px 0px 8px 25px;
  }
}

.ordering__form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;

  @include tablet {
    font-size: 14px;
    left: 25px;
  }

  @include desktop {
    font-size: 16px;
    left: 25px;
  }
}

.ordering__form-checkbox-wrap {
  height: 25px;
  margin-bottom: 15px;
}

.selects-wrap {
  display: flex;
}

.ordering__form-select-wrap {
  display: inline-block;
  width: 295px;
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 5px;

  @include tablet {
    height: 50px;
  }

  @include desktop {
    height: 55px;
  }
}

.ordering__form-select-wrap.w100 {
  margin-bottom: 15px;
}

.ordering__form-select {
  padding: 0px 25px;
  width: 95%;
  height: 100%;
  line-height: 1.3;
  border: none;
  outline: none;
  background-color: unset;
  cursor: pointer;
}

.ordering__form-input:focus + .ordering__form-label,
.ordering__form-input:not(:placeholder-shown) + .ordering__form-label {
  transform: translateY(-37px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $light-grey;
  font-size: 14px;

  @include tablet {
    transform: translateY(-20px);
  }

  @include desktop {
    transform: translateY(-20px);
  }
}

.invalid-input-message {
  position: absolute;
  font-size: 15px;
  color: $red;
  bottom: -5px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity $transition;
}

.ordering__form-input:not(:placeholder-shown):invalid {
  border: 1px solid $red;
}

.ordering__form-input:not(:placeholder-shown):invalid
  + .ordering__form-label
  + .invalid-input-message {
  opacity: 1;
  transition: opacity $transition;
}

.ordering__form-input:not(:placeholder-shown):valid {
  border: 1px solid $main-blue;
}

.ordering__form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.ordering__form-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.ordering__form-checkbox + label:before {
  content: '';
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid $light-grey;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
}

.ordering__form-checkbox:checked + label:before {
  background-image: url('../images/check.png');
  background-color: $main-blue;
}

.js-ordering-data2 {
  margin-top: 15px;
}

.js-ordering-data2 .ordering__form-inputs-group {
  @include tablet {
    gap: 15px 15px;
  }

  @include desktop {
    gap: 15px 20px;
  }
}

.ordering__form-input-comment {
  height: 80px;
  padding: 15px;
  resize: none;
  border: 1px solid $light-grey;
  border-radius: 5px;

  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.ordering__form-submit-wrap {
  text-align: right;
}

.ordering__form-submit {
  color: $white;
  font-weight: 600;
  line-height: 1.3;
  background-color: $main-blue;
  border: 1px solid $light-grey;
  border-radius: 5px;

  @include tablet {
    padding: 12px 20px;
    font-size: 20px;
  }

  @include desktop {
    padding: 9.5px 58px;
    font-size: 24px;
  }
}

.ordering__form-submit:hover,
.ordering__form-submit:focus {
  background-color: $dark-blue;
}

.ordering__content-right {
  overflow: hidden;
  background-color: $pastel;

  @include tablet {
    padding: 20px 65px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  @include desktop {
    padding: 50px 85px;
    margin-bottom: 0px;
    cursor: auto;
  }
}

.ordering__items-wrap {
  margin-bottom: 20px;
}

.ordering-items-js {
  @include tablet {
    overflow: hidden;
    margin-top: 0px;
    max-height: 0px;
    transition: max-height 1s, margin-top 1s;
  }

  @include desktop {
    max-height: none;
    transition: none;
  }
}

.ordering-items-js.active {
  display: block;
  max-height: 1500px;
  margin-top: 30px;
  transition: max-height 1s, margin-top 1s;

  @include desktop {
    margin-top: 0px;
  }
}

.ordering__details-icon-wrap {
  transition: transform $transition;
}

.ordering-details-js.active .ordering__details-icon-wrap {
  transform: rotate(-180deg);
}

.ordering__total-wrap {
  display: flex;
  flex-direction: column;

  @include tablet {
    gap: 5px;
  }

  @include desktop {
    gap: 10px;
  }
}

.ordering__total-price {
  display: flex;
  justify-content: space-between;

  @include tablet {
    font-size: 16px;
    line-height: 1.3;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.3;
  }
}

.ordering-title-span {
  font-weight: 600;
  line-height: 1.3;

  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 24px;
  }
}

.ordering__details {
  display: flex;
  justify-content: space-between;

  @include desktop {
    display: none;
  }
}

.ordering__details-icon {
  margin-right: 15px;
  fill: $em-dark-blue;
}

.ordering__details-icon {
  margin-left: 10px;
  margin-left: 10px;
}

.ordering__details-text {
  display: flex;
  align-items: center;
  color: $dark-blue;
  font-size: 16px;
  line-height: 1.3;
}

.ordering__details-text:last-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
}

.pay-on-delivery-info {
  margin-bottom: 15px;
  padding: 18px 15px;
  background-color: $pastel;
  border: 1px solid $light-grey;
  border-radius: 5px;
}

.pay-on-delivery-info-text {
  margin-bottom: 10px;
  line-height: 1.3;
}

.pay-on-delivery-info-text:last-child {
  margin-bottom: 0px;
}

.w100 {
  @include tablet {
    width: 605px;
  }

  @include desktop {
    width: 100%;
  }
}

.w98 {
  width: 98%;
}

.m0 {
  margin: 0px;
}
