.single-category__sale-item {
  z-index: 1;
  position: absolute;
  left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  background-color: $blue;
  border-radius: 100px;
  transform: translateY(-50%);

  @include tablet {
    padding: 9.5px 10px;
  }

  @include desktop {
    padding: 13px 11px;
  }
}

.old-price .item-price {
  margin-right: 10px;
  text-decoration: line-through;
}

.item-new-price {
  color: $red;
}
