.fabrics__section {
  margin-bottom: 60px;
}

.fabrics__section-title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: calc(39px / 32px);
}

.fabrics__items-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fabrics__item {
  background-color: $white;
  cursor: pointer;
  border: 1px solid $light-grey;
  border-radius: 5px;
}

.fabrics__question {
  display: flex;
  justify-content: space-between;
}

.fabrics__question:hover {
  background-color: $main-blue;
}

.fabrics__question-title {
  padding: 15px 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
}

.fabrics__question-icon {
  padding: 24px 40px;
}

.fabrics__answer {
  display: none;
  padding: 20px 30px;
  cursor: auto;

  line-height: 1.3;
}

.fabrics__item.active .fabrics__question-icon {
  transform: rotate(180deg);
}

.fabrics__item.active .fabrics__question {
  border-bottom: 1px solid #7d7d7d;
  border-radius: 5px;
  background-color: $main-blue;
}

.fabrics__item.active .fabrics__answer {
  display: block;
}
