.self-promotion {
  max-width: 1700px;
  max-height: 400px;
  margin: 0px auto 50px;
  padding: 60px 230px;
  background: url('../images/self-prom-sample.png');
  border-radius: 5px;
}

.self-promotion__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.3;
}

.self-promotion__link {
  display: block;
  width: fit-content;
  margin: 0px auto;
  color: $white;
  padding: 10px 30px;
  background-color: $main-blue;
  border: 1px solid $light-grey;
  border-radius: 5px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;

  &:hover,
  &:focus {
    background-color: $dark-blue;
  }
}
