.single-category {
  margin: 0px auto;
  margin-bottom: 30px;
  padding: 0px 15px;
  overflow: hidden;

  @include tablet {
    margin-bottom: 40px;
    padding: 0px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.single-category__title-wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 20px;
    align-items: baseline;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.single-category__title {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29px / 24px);

  @include tablet {
    font-size: 30px;
    line-height: calc(37px / 30px);
  }

  @include desktop {
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.single-category__navigation {
  display: none;

  @include tablet {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    right: 0;
    bottom: 0;
  }
}

.swiper-container {
  @include mobile {
    min-width: 320px;
    padding-right: 15px;
  }

  @include tablet {
    width: 665px;
    padding-right: 0px;
  }

  @include desktop {
    width: 1240px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  cursor: pointer;
  transition: opacity $transition;
}

.swiper-button-next {
  display: flex;
  justify-content: flex-start;
}

.swiper-button-prev {
  display: flex;
  justify-content: flex-end;
}

.single-category__navigation-icon-next,
.single-category__navigation-icon-prev {
  width: 30px;
  height: 30px;
  transition: width $transition;
}

.icow35 {
  width: 35px;
}

.swiper-slide {
  width: unset;
  height: unset;
}

.single-category__list .single-category__item {
  margin-right: 10px;

  @include tablet {
    margin-right: 15px;
  }

  @include desktop {
    margin-right: 20px;
  }
}

.single-category__item:last-child {
  margin-right: 0px;
}
