.single-category {
  margin-bottom: 50px;
}

.single-category__title-wrap {
  display: flex;
  align-items: baseline;
  gap: 15px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.single-category__title {
  font-weight: 500;

  @include tablet {
    font-size: 30px;
    line-height: calc(37px / 30px);
  }

  @include desktop {
    font-size: 32px;
    line-height: calc(39px / 32px);
  }
}

.single-category__list {
  display: flex;

  @include tablet {
    gap: 15px;
  }

  @include desktop {
    gap: 20px;
  }
}

.single-category__nav-arrow {
  fill: #000;
}
