.single-category {
  margin-bottom: 50px;
}

.single-category__title-wrap {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.single-category__list {
  display: flex;
  gap: 20px;
}

.single-category__nav-arrow{
  fill: #000;
}
