@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'),
    url('/src/fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'),
    url('/src/fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat Medium'),
    url('/src/fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat Medium Italic'),
    url('/src/fonts/Montserrat-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'),
    url('/src/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Serif Regular'),
    url('/src/fonts/RobotoSerif-Regular.woff') format('woff');
}
